[submodule "tools/cxx-generator"]
	path = tools/cxx-generator
	url = git://github.com/funkaster/cxx-generator.git
[submodule "samples/Javascript/Shared"]
	path = samples/Javascript/Shared
	url = https://github.com/minggo/cocos2d-js-tests.git
